version: "3.9"

services:
  shop-db:
    container_name: shop-db
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "1234"
      PGDATA: /var/lib/postgresql/data
    volumes:
     - postgres18:/var/lib/postgresql/data
     - ./shop-server/sql:/docker-entrypoint-initdb.d
    networks:
      - postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 15


  elasticsearch:
    container_name: shop-elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.2
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - logger.level=WARN

    ports:
      - "9200:9200"
    networks:
      - postgres
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200/_cluster/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 15


  api:
    depends_on:
      shop-db:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    container_name: shop-server
    build: ./shop-server
    ports:
      - "8080:8080"
    networks:
      - postgres
    restart: always
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://shop-db:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=1234
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - ES_URL=elasticsearch:9200

  front:
    depends_on:
      - api
    container_name: shop-client
    build: ./shop-client
    ports:
      - "4200:4200"

networks:
  postgres:
    driver: bridge

volumes:
  postgres18:
